<form class="message-form relative flex">
  <label class="message-form__file relative flex p-3">
    <img src="{{ iconClip }}" class="message-form__file-icon m-auto">
    <input type="file" class="message-form__file-input absolute inset-0">
  </label>
  <input name="message" placeholder="Написать сообщение…" class="message-form__input px-2 py-4">
  <button class="message-form__submit flex px-3 py-2">
    <img src="{{ iconEnvelope }}" class="message-form__submit-icon m-auto">
  </button>
  <div class="message-form__error absolute d-none px-3 py-5 bg-red-lightest"></div>
</form>
