.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.tab_current {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 2px solid map-get($colors, blue);
    transform: translateY(4px);
  }
}

.tab_link {
  color: map-get($colors, gray-light);
  text-decoration: none;

  &:hover {
    color: map-get($colors, blue);
  }
}
