{
  "env": {
    "browser": true,
    "es2022": true
  },
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-empty-function": "off",
    "class-methods-use-this": "off",
    "no-restricted-exports": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off"
  },
  "settings": {
    "react": {
      "version": "999.999.999" // Fix ESLint React warning
    }
  }
}
