@import "../../styles/helpers/colors.pcss";

.tab--current {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 2px solid map-get($colors, blue);
    transform: translateY(4px);
  }
}

.tab--link {
  color: map-get($colors, gray-light);
  text-decoration: none;

  &:hover {
    color: map-get($colors, blue);
  }
}
