<nav class="tabs flex flex-wrap justify-center gap-4 text-title-3">
  {{#each pages as |page|}}
    {{#if (eq ../pathname page.path)}}
      <span class="tab tab--current">{{page.title}}</span>
    {{else}}
      <a class="tab tab--link blue-dark" href="{{page.path}}">{{page.title}}</a>
    {{/if}}
  {{/each}}
</nav>
