<nav class="tabs flex flex-wrap justify-center gap-4 text-title-3">
{{#if isLogin}}
  <span class="tab tab--current">Вход</span>
  <a class="tab tab--link blue-dark" href="/signup">Регистрация</a>
{{else}}
  <a class="tab tab--link blue-dark" href="/login">Вход</a>
  <span class="tab tab--current">Регистрация</span>
{{/if}}
</nav>
