---
title: Смена пароля
---

{{#extend 'sheet'}}
  {{#content 'content'}}
  <div class="password">
    {{#embed 'header' title='Смена пароля' link-back=true}}{{/embed}}

    <form class="password__form mt-7">
      {{#embed 'text-field' class='mx-auto' label='Текущий пароль' name='oldPassword' type='password' value='password'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-4' label='Новый пароль' name='newPassword' type='password' placeholder='********'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-4' label='Новый пароль (еще раз)' type='password' placeholder='********'}}{{/embed}}

      {{#embed 'button' class='password__button mt-6' text='Сохранить'}}{{/embed}}
    </form>
  </div>
  {{/content}}
{{/extend}}
