---
title: Профиль
---

{{#extend 'sheet'}}
  {{#content 'content'}}
  <div class="profile">
    {{#embed 'header' title='Ваш профиль' link-back=true}}{{/embed}}

    <div class="profile__avatar-wrapper mt-10 bg-gray-lightest">
      <img class="profile__avatar m-auto" src="/static/images/avatar.svg" width="40" height="40" alt="">
    </div>

    <form class="profile__form mt-10">
      {{#embed 'text-field' class='mx-auto' label='Логин' name='login' value='vasyapupkin'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-5' label='Имя в чате' name='display_name' value='Vasya'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-5' label='Имя' name='first_name' value='Василий'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-5' label='Фамилия' name='second_name' value='Пупкин'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-5' label='Телефон' name='phone' type='tel' inputmode='tel' value='+7 (903) 111-22-33'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-5' label='E-mail' name='email' type='email' inputmode='email' value='vasya@mail.ru'}}{{/embed}}
    </form>

    <p class="mt-5 text-right caption-regular text-italic">Кликните по любому полю для редактирования</p>

    <a class="mt-6 body-medium blue-dark" href="password.hbs">Сменить пароль</a>
    <hr class="profile__separator mt-3 bg-gray-lighter">
    <div class="mt-3 body-medium red">Выйти из аккаунта</div>
  </div>
  {{/content}}
{{/extend}}
