---
title: Регистрация
---

{{#extend 'sheet'}}
  {{#content 'content'}}
  <div class="registration">
    <header>
      {{#embed 'tabs' class='mt-6 title-3-medium' active-tab='registration'}}{{/embed}}
    </header>

    <form class="registration__form mt-8">
      {{#embed 'text-field' class='mx-auto' label='Логин' name='login' placeholder='vasyapupkin'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-5' label='Имя в чате' name='display_name' placeholder='Vasya'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-5' label='Имя' name='first_name' placeholder='Василий'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-5' label='Фамилия' name='second_name' placeholder='Пупкин'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-5' label='Телефон' name='phone' type='tel' inputmode='tel' placeholder='+7 (903) 111-22-33'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-5' label='E-mail' name='email' type='email' inputmode='email' placeholder='vasya@mail.ru'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-5' label='Пароль' name='password' type='password' placeholder='********'}}{{/embed}}

      {{#embed 'text-field' class='mx-auto mt-5' label='Пароль (еще раз)' type='password' placeholder='********'}}{{/embed}}

      {{#embed 'button' class='registration__button mt-6' text='Зарегистрироваться'}}{{/embed}}
    </form>
  </div>
  {{/content}}
{{/extend}}
