<header {{#if class}}class="{{ class }}"{{/if}}>
  {{#if link-back}}{{#embed 'link-back' path="/"}}{{/embed}}{{/if}}
  <h1 class="header__title title-2-medium mt-3 text-center">{{ title }}</h1>
</header>
