@import "../../styles/helpers/colors.pcss";

.dialog {
  inset: 0;
  background-color: map-get($colors, overlay);
  backdrop-filter: blur(4px);
}

.dialog__inner {
  flex: 0 1 480px;
  border-radius: 12px;
}
