<label class="ui-text-field flex flex-wrap {{ class }}">
  {{{ input }}}

  <span class="
    ui-text-field__label mb-1 mb-md-0 text-right text-body-medium
    {{#if error}} ui-text-field__label--error {{/if}}
  ">
    {{ label }}
  </span>

  {{#if hint}}
  <span class="ui-text-field__hint flex-full mt-1 text-md-right text-body-medium gray">{{ hint }}</span>
  {{/if}}

  {{#if validations}}
  <span class="ui-text-field__error d-none flex-full mt-1 text-md-right text-body-medium red"></span>
  {{/if}}
</label>
