.layout-error {
  display: flex;
  flex-direction: column;
}

.layout-error__main {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-error__message {
  flex: 1;
}

.layout-error__link {
  display: inline-block;
}

.layout-error__image {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: min(800px, 80%);
  transform: translate(-50%, -50%);
}


