{{#extend 'layout' layout='error'}}
  {{#content 'main'}}
  <main class="layout-error__main px-4 py-2">
    <section class="layout-error__message text-center">
      <h1 class="title-1-medium">{{heading}}</h1>

      {{#if subheading}}
        <h2 class="mt-2 title-3-medium">{{subheading}}</h2>
      {{/if}}

      <a href="chats.hbs" class="layout-error__link mt-12 body-medium blue-dark">Вернуться к списку чатов</a>
    </div>

    <img
      src="/static/images/error-{{defaultValue errorCode 404}}.svg"
      class="layout-error__image"
      alt=""
    />
  </main>
  {{/content}}
{{/extend}}
