{{#extend 'layout' layout='sheet' layout-class='px-4'}}
  {{#content "main"}}
  <main class="layout-sheet__main px-10 py-6 shadow-sheet">
    <section class="layout-sheet__sheet">
      {{#block 'content'}}{{/block}}
    </section>
  </main>
  {{/content}}
{{/extend}}
