.message {
  width: fit-content;
  max-width: 420px;
  border-radius: 12px;
}

.message--incoming {
  border-top-left-radius: 0;
}

.message--outcoming {
  border-bottom-right-radius: 0;
}

.message__image {
  border-radius: inherit;
}

.message__meta {
  border-radius: 4px;

  &--surfaced {
    right: 12px;
    bottom: 8px;
    padding: 2px 6px;
  }
}
