html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: Inter, Roboto, sans-serif;
}

::placeholder {
  color: map-get($colors, gray-light);
}

input {
  width: 100%;
  color: inherit;
}
